// Color 

$primary-color: #E92569;
$navbar-color: #EFEFEF;
$link-text: #0A0A0A;
$footer-text: #767676;
$background-footer: #FFFFFF;
$background-gradient: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);